.iflex {
	display: inline-flex;
}

/*justify-content*/
.jcs {
	justify-content: flex-start;
}
.jce {
	justify-content: flex-end;
}
.jcc {
	justify-content: center;
}
.jcb {
	justify-content: space-between;
}
.jca {
	justify-content: space-around;
}

/*align-items*/
.ais {
	align-items: flex-start;
}
.aie {
	align-items: flex-end;
}
.aic {
	align-items: center;
}
.aib {
	align-items: baseline;
}
.aih {
	align-items: stretch;
}

/*flex-direction*/
.drr {
	flex-direction: row;
}
.drrr {
	flex-direction: row-reverse;
}
.drc {
	flex-direction: column;
}
.drcr {
	flex-direction: column-reverse;
}

/*flex-wrap*/
.wpn {
	flex-wrap: nowrap;
}
.wpw {
	flex-wrap: wrap;
}
.wpwr {
	flex-wrap: wrap-reverse;
}

/*align-content*/
.acs {
	align-content: flex-start;
}
.ace {
	align-content: flex-end;
}
.acc {
	align-content: center;
}
.acb {
	align-content: space-between;
}
.aca {
	align-content: space-around;
}
.ach {
	align-content: stretch;
}